.contact-container {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    overflow: hidden;
    background-color: #080420;
    border: 1px solid red;
    min-height: 70vh;
}


.contact-container .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.contact-container .brand img {
    height: 2rem;
}

.contact-container .brand h3 {
    color: white;
    text-transform: uppercase;
}

.contact-container .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
}


.contact-container .contacts:-webkit-scrollbar {
    width: 0.2rem;
}

/* .contact-container .contacts:-webkit-scrollbar */

/* :-webkit-scrollbar {
    width: 0.2rem;
    &-thumb {
      background-color: #ffffff39;
      width: 0.1rem;
      border-radius: 1rem;
    } */

.contact-container .contacts .contact {
    background-color: #ffffff34;
    min-height: 5rem;
    cursor: pointer;
    width: 85%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.contact-container .contacts .contact .avatar img {
        height: 3rem;
}

.contact-container .contacts .contact .username h3 {
    color: #fff;
}


.contact-container .contacts .contact.selected{
    background-color: #9a86f3;
}

.contact-container .current-user {
    background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-container .current-user .avatar img {
    height: 4rem;
    max-inline-size: 100%;
}


.contact-container .current-user .username {
    color: white;
}

/* @media screen and (min-width: 1080px) {
    .contact-container .current-user {
        gap: 0.5rem;
    }
    .contact-container .current-user .username h2 {
        font-size: 1rem;
    }
} */
