.chat-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #131324;
    /* border: 1px solid red; */
}

.chat-container .container-1 {
    padding: 10px 30px;
    /* height: 85vh; */
    height: 90%;
    width: 90vw;
    background-color: #00000076;
    display: grid;
    grid-template-columns: 25% 75%;
}

@media screen and (min-width: 720px) {
    .chat-container .container-1 {
        grid-template-columns: 35% 65%;
    }
}

@media screen and (min-width: 1080px) {
    .chat-container .container-1 {
        grid-template-columns: 35% 65%;
    }
}